<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Vehicular Accidents in the US</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <!-- Ionicon Stylesheet -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

    <!-- Awesome Markers Script and stylesheet -->
    <link rel="stylesheet" href="static/css/leaflet.awesome-markers.css">
    <script src="static/js/leaflet.awesome-markers.js"></script>


    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- jsPDF library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>


  </head>
  <body>

    <div id="content">

    <div class="container">
      <div class = "col-md-10">
        <h2>US Vehicle Accidents Dashboard</h2>
        <p>By Vincent Heningburg and Ashlee Pounds</p>
      </div>
      
      <div class = "col-md-2">
        <button type="button" class="btn btn-secondary">Click to save PDF</button>
      </div>
    </div>
   
    <div class="container">
      <hr>
      <div class = "row">
        <div class="col-md-12">
          <div id="map-wrapper"><div id="map"></div></div> 
        </div>
      </div>
      <hr>


      <!-- chart row -->
      <div class = "row">
        <div class = "well well1 col-lg-6">

          <div class="col-lg-2">
            <h5>Year:</h5>
            <select id="selDatasetYEARLEFT" onchange="optionChangedYEARLEFT(this.value)">
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
            </select>
          </div>
    
          <div class="col-lg-2">
            <div id="leftSelector">
              <h5>State:</h5>
              <select id="selDatasetSTATE" onchange="optionChangedSTATE(this.value)">
                <option>AL</option>
                <option>AR</option>
                <option>AZ</option>
                <option>CA</option>
                <option>CO</option>
                <option>CT</option>
                <option>DC</option>
                <option>DE</option>
                <option>FL</option>
                <option>GA</option>
                <option>IA</option>
                <option>ID</option>
                <option>IL</option>
                <option>IN</option>
                <option>KS</option>
                <option>KY</option>
                <option>LA</option>
                <option>MA</option>
                <option>MD</option>
                <option>ME</option>
                <option>MI</option>
                <option>MN</option>
                <option>MO</option>
                <option>MS</option>
                <option>MT</option>
                <option>NC</option>
                <option>ND</option>
                <option>NE</option>
                <option>NH</option>
                <option>NJ</option>
                <option>NM</option>
                <option>NV</option>
                <option>NY</option>
                <option>OH</option>
                <option>OK</option>
                <option>OR</option>
                <option>PA</option>
                <option>RI</option>
                <option>SC</option>
                <option>TN</option>
                <option>TX</option>
                <option>UT</option>
                <option>VA</option>
                <option>VT</option>
                <option>WA</option>
                <option>WI</option>
                <option>WV</option>
                <option>WY</option>
              </select>
            </div>
          </div>

          <div class="col-lg-2">
            <div id="citySelector">
              <h5>City:</h5>
              <select id="selDatasetCITY" onchange="optionChangedCITY(this.value)">
              </select>
            </div>
          </div>
        </div>
      

        <div class = "well col-lg-5">
          <h5>Year:</h5>
          <select id="selDatasetYEAR" onchange="optionChangedYEAR(this.value)">
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
          </select>
        </div>
      </div>

      <div class = "row">
      <div class="col-lg-6">
        <div id="chartLeft"></div>
      </div>
      <div class="col-lg-6">
        <div id="chartRight"></div>
      </div>
      </div>
    </div>
    </div>
  <div id="elementH"></div>

    <script type="text/javascript" src="static/js/config.js"></script>
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="static/js/logic.js"></script>
    <!-- Leaflet heatmap plugin-->
    <script type="text/javascript" src="static/js/leaflet-heat.js"></script>


     <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
